@model DailyTaskManager.Models.ReminderandNotification

<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>

<script type="text/javascript">

    $(function () {

        $('#datetimepicker1').datetimepicker();

    });
</script>



<div class="modal-dialog" style="width:350px;height:250px;">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" id="modalbody">
            <table>
                <tr>
                    <td>
                        @Html.TextBox("Reminder", "Remind me to", new { @class = "form-control", style = "width:350px;" })
                    </td>

                </tr>
                <tr>
                    <td>
                        <div class="container">
                            <div class="row">
                                <div class='col-sm-6' style="padding-left:0px;padding-right:350px;">
                                    <div class="form-group">
                                        <div class='input-group date' id='datetimepicker1'>
                                            <input type='text' class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
        </div>
    </div>
</div>
